
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Taviraj');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*font-family: 'Taviraj', serif;
font-family: 'Droid Serif', serif;*/
option:nth-child(7) {
    font-weight:bold;
}
/*
body{background-color:#020438;
background-image:
radial-gradient(#284184, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(#284184, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
*/

body{
	background-color:#020438;
	animation: body 60s linear infinite;
}

@-webkit-keyframes body{
  0% {
    background-color:#020438;
  }
  50%{
  	background-color:#368BC1;
  }
  100% {
    background-color:#020438;
  }
}

@keyframes body{
  0% {
    background-color:#020438;
  }
  50%{
  	background-color:#368BC1;
  }
  100% {
    background-color:#020438;
  }
}

h1{
	color:white;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	font-size:50px;
}

h2{
	color:white;
	font-family: 'Raleway', sans-serif;
}

form{
	text-align:center;
	margin-bottom:20px;
}

.outerwrapper{
	width:100%;
}

.wrapper{
	margin: 0 auto;
	min-width:50%;
	max-width:100%;
	width:650px;
	padding-left:20px;
	padding-right:20px;
}

#title{
	margin-top:50px;
}

.solution{
	color:white;
	font-family: 'Droid Serif', serif;
	font-size:16px;
	text-align:justify;
}

#description{
	color:white;
	font-family: 'Droid Serif', serif;
	font-size:16px;
	padding-top:20px;
	padding-bottom:20px;
}

#buttonrow{
	text-align:center;
	margin-bottom:20px;
}

button{
	background-color:#284184;
	color:white;
	border:none;
	width:150px;
	padding:10px 15px;
	margin-bottom:5px;
}

ul li{
	color:#6495ED;
}

span{
	color:white;
}

#options {
	-webkit-background:#284184 !important; 
	background:#284184 !important;
	-webkit-width:320px;
	width:320px;
}

#options, #age, #hours, #minutes, #daytime{
	-webkit-background:#6495ED;
	background:#6495ED;
	-webkit-font-family: 'Droid Serif', serif;
	font-family: 'Droid Serif', serif;
	-webkit-color:white;
	color:white;
	-webkit-font-size:16px;
	font-size:16px;
	-webkit-border:0;
	border:0;
	-webkit-padding:8px 15px;
	padding:8px 15px;
	-webkit-margin-top:10px;
	margin-top:10px;
	-webkit-margin-bottom:10px;
	margin-bottom:10px;
}

#time{
	text-align:center;
}

#calculate{
	margin-top:10px;
}

#head{
	font-weight: bold;
}